a
{
	color: #22BCE0;
}
body
{
	background: #EEEEEE;
	font: Arial;
	font-size: 16px;
}
footer
{
	color: rgba(255,255,255,0,7);
	background: #22BCE0	;
	text-align: center;	
	padding: 1em;
}
footer p:first-child
{
	margin-bottom: 0;

}
footer p:last-child
{
	margin-top: 0;
}
footer p:last-child:after
{
	content: " -";
}
footer p:last-child:before
{
	content: "- ";
}
header
{
	background: #343B54;
	color: white;
	padding: 0.5em;
	overflow: hidden;
}
header figure
{
	margin: 0;
	float: left;
}
header h1
{
	font-size: 1.2em;
	font-weight: normal;
	margin: 0.2em,70px,0,0;
}
header #avatar img
{
	margin: 0.5em 0.5em 0 0;
	position: absolute;
	right: 0;
	top:0;
}
header #avatar img
{
	border-radius: 50%;
	width: 55px
}
header #logo img
{
	border-right: 1px solid white;
	margin-right: 0.5em;
	padding-right: 0.5em;
	width: 52px
}
nav
{
	background: #80BCA3;
	padding: 0 0.5em;
	position: relative;
}
nav ul #Publicar_nav
{
	position: absolute;
	top: -0.5em;
	right: 0;
}
nav ul #Publicar_nav a
{
	background: #22BCE0;
	border-radius: 5em;
	box-shadow: rgba(0,0,0,0.5) 5px 5px 20px;
	padding: 0.8em;
	font-style: italic;
	text-decoration: none;
	text-shadow: rgba(0,0,0,0.5) 2px 2px 5px;
}
nav ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}
nav ul li 
{
	display: inline-block;
	margin: 0 1em 0 0;
}
nav ul li a 
{
	color: white;
	display: block;
	padding: 0.5em 0;
}