a
{
	color: #22BCE0;
}
body
{
	background: #EEEEEE;
	font: "Arial";
	font-size: 16px;
}
header
{
	border: 1px solid red;
	background: #343B54;
	color: white;
	padding: 0.5em;
}
header figure
{
	float: left;
}
header h1
{
	font-size: 1.2em;
	font-weight: normal;
}
header #avatar img
{
	border-radius: 50%;
	width: 55px
}
header #logo img
{
	width: 52px
}